.background{
    background-image: url('../../assets/background_login.webp');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    justify-content: end;
}

.wrapper{
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}

.wrapper>div:first-child{
text-align: center;
}

.card{
    background-color: var(--gray-100);
    box-shadow: 4px 8px 4px rgb(0,0,0,0.4);
    border-radius: 24px;
    padding: 3rem;
    text-align: center;
}

.card h2{
    color: var(--white);
    font-style: normal;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.logo{
    width: 10rem;
}
.nameLogo{
    font-style: italic;
    font-style: normal;
    font-weight: 300;
}