.background{
    background-image: url('../../assets/backfroung_register.webp');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover ;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
}

.imageContainer{
    width: 50%;
    text-align: center;
}

.card{
    background-color: var(--gray-100);
    box-shadow: 4px 8px 4px rgb(0,0,0,0.4);
    border-radius: 24px;
    padding: 3rem;
    text-align: center;
    width: 40%;
    margin-right: 1.5rem;
}

.card h2{
    color: var(--white);
    font-style: normal;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.logo{
    width: 20rem;
}
.nameLogo{
    font-style: italic;
    font-style: normal;
    font-weight: 300;
}

.navigate a{
    color: var(--whitw) ;
}

.navigate{
    color: var(--whitw);
    padding-top:2rem ;
}


.register{
    text-align: left;
    margin-top: 1rem;
    font-size: .8rem;
}

.register span{
    color: var(--white);
    font-weight: 300;
}

.register a{
    color: var(--white)
}